body {
    background-color: black;
    color: whitesmoke; 
}

.favList {
    text-align: center;
    text-decoration: underline;
}

.card-body{ 
    display: inline-block;
    overflow-x: auto; 
}

.infoWrap {
    height: 8rem;
}